body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.top-banner img{
    width: 100%;
    background-image:
    linear-gradient(to top, rgba(0, 0, 0, 0.52), rgba(214, 10, 163, 0.73));

}
.top-banner{
    position: relative;
    margin: 0;
    
}
#gradient-effect{
    

}
.content{
    position: absolute;
    text-align: center;
    bottom: 0%;
    padding-bottom: 25%;
    padding-left: 30%;
    padding-right: 30%;
    color: white;
}
.button{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
}
